<h1>Secret Santa Generator</h1>
<h2>Your name</h2>
<form action="/secret-santa-generator">
  <label for="name"></label>
    <input type="text" placeholder="Enter name" name="your name" required>
  <input type="submit" value="Submit">
  <label for="email"></label>
      <input type="text" placeholder="Enter Email" name="email" required>
</form>
<h2>Draw names with</h2>
